* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #929292;
}

body {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: whitesmoke;
}

button {
    cursor: pointer;
}

.scores {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
}

.scores p {
    background: #cca8b3;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.scores .comp {
    background: #88170a;
}

.scores span {
    font-size: 35px;
}

.options button {
    border: none;
    margin: 20px;
}

.options button.active {
    transform: scale(1.2);
}

.options img {
    width: 200px;
    height: 240px;
    border-radius: 50px;
    pointer-events: none;
}

.choices {
    font-size: 30px;
    display: none;
}

.choices.active {
    display: block;
}

.result-text {
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.reset-game {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.reset-game.active {
    display: block;
}

.reset-game:hover {
    background-color: rgba(0, 0, 0, 0.5);
}